/* src/components/Login.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* src/components/Login.css */

 html {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; /* Align navbar at top and content below */
  background: linear-gradient(180deg, rgba(148,185,244,1) 36%, #363636 100%);
  

  font-family: Arial, sans-serif;
  margin: 0;
  padding-top: 100px; /* Add padding to avoid overlap with navbar */
}

.login-container {
  width: 100%;
  max-width: 400px;
  padding: 40px;
  margin-top: 40px;
  margin-left: 450px; /* Space from the navbar */
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  text-align: center;
}




.login-title {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
  font-size: 24px;
}

.form-group {
  margin: 20px 0;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-button {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #45a049;
}

.signup-link {
  margin-top: 20px;
}

.signup-link a {
  color: #4CAF50;
  text-decoration: none;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}
